/*font-family: 'Fira Sans', sans-serif;*/
/*font-family: 'Roboto', sans-serif;*/

body{
  box-sizing: border-box;
  background-color: #ede9e0;
}

.wrapper{
  margin: auto;
  width: 1024px;
}

.body-dog{
  position: absolute;
  top: 0;
  left: 140px;
  z-index: -1;
}

.head-container{
  width: 940px;
  margin: auto;
  margin-top: 10px;
  display: flex;
  align-items: center;

}

.nav-main{
  margin-left: auto;
}

/*.head-container,
.promo-block,
#about,
#breeds,
#reviews,
#info,
#contacts,
footer{
  max-width: 1026px;
  margin: 0 auto;
  padding: 5px 5px;
}*/

.row{
  display: flex;
  flex-wrap: wrap;
}

.col{
  display: inline-block;
}

.col--lg-1{
  width: 25%;
}

.col--lg-2{
  width: 50%;
}

.col--lg-3{
  width: 75%;
}

.col--lg-4{
  width: 100%;
}


.nav-item,
.nav-down-item{
  display: inline-block;
  margin-left: 28px;
}


#about{
  background: url(images/info-bg.jpeg.png);
}

#info{
  background: url(images/info-bg.jpeg.png);
}

#breeds{

}

.line-divider{

}

h1{
  font-family: 'Fira Sans', sans-serif;
  font-size: 48px;
}

h2{
  font-family: 'Fira Sans', sans-serif;
  font-size: 36px;
  letter-spacing: 50;
  line-height: 40px;
}

h3{
  font-family: 'Fira Sans', sans-serif;
  font-size: 24px;
  letter-spacing: 50;
  line-height: 40px;
}

p{
  font-size: 16px;
}

a{
  font-size: 16px;
  color: #510fad;
}

a:hover{
  color: #737274;
}

#about a{
  color: #ffec00;
}

#about a:hover{
  color: #737274;
}

.underh{
  font-family: 'Fira Sans', sans-serif;
  font-size: 14px;
  letter-spacing: 50;
  line-height: 30px;
  font-weight: medium;
  color: #737274;
}

.underhdark{
  color: #b8adc8;
}

.hondark{
  color: #fff;
}

.textondark{
  color: #fff;
}

.promo-comment{
  text-transform: uppercase;
}

.contact-head{
  color: #737274;
  text-transform: uppercase;
}

.nav-main a{
  text-decoration: none;
  color: #202020;
}

.nav-main a:hover{
  color: #510fad;
}

.nav-down a{
  text-decoration: none;
  color: #737274;
}

.nav-down a:hover{
  color: #510fad;
}

.phone{
  text-decoration: none;
  margin-left: 20px;
}

.foto-about{
  box-shadow: -20px 0 50px rgba(0,0,0,0.5);

}

.review-foto{
  box-shadow: -6px 0 40px rgba(0,0,0,0.6);
}

.info-block-img{
  box-shadow: 6px 0 20px rgba(0,0,0,0.6);
}

.inflo-block-img:hover{
  box-shadow: 6px 0 40px rgba(0,0,0,0.2);
}

.sprite {
    background-image: url(images/spritesheet.png);
    background-repeat: no-repeat;
    display: inline-block;
    margin: 5px;
}

.sprite-social-icon-facebook {
    width: 26px;
    height: 26px;
    background-position: -5px -5px;
}

.sprite-social-icon-facebook-foo:hover{
    width: 26px;
    height: 26px;
    background-position: -41px -5px;
}

.sprite-social-icon-facebook-foo {
    width: 26px;
    height: 26px;
    background-position: -77px -5px;
}

.sprite-social-icon-facebook:hover{
    width: 26px;
    height: 26px;
    background-position: -5px -41px;
}

.sprite-social-icon-instagram {
    width: 26px;
    height: 26px;
    background-position: -41px -41px;
}

.sprite-social-icon-instagram-foo:hover {
    width: 26px;
    height: 26px;
    background-position: -77px -41px;
}

.sprite-social-icon-instagram-foo {
    width: 26px;
    height: 26px;
    background-position: -5px -77px;
}

.sprite-social-icon-instagram:hover  {
    width: 26px;
    height: 26px;
    background-position: -41px -77px;
}

.sprite-social-icon-vk {
    width: 26px;
    height: 26px;
    background-position: -77px -77px;
}

.sprite-social-icon-vk-foo:hover {
    width: 26px;
    height: 26px;
    background-position: -113px -5px;
}

.sprite-social-icon-vk-foo {
    width: 26px;
    height: 26px;
    background-position: -113px -41px;
}

.sprite-social-icon-vk:hover  {
    width: 26px;
    height: 26px;
    background-position: -113px -77px;
}
