/*font-family: 'Fira Sans', sans-serif;*/
/*font-family: 'Roboto', sans-serif;*/

body{
  box-sizing: border-box;
  background-color: #ede9e0;
}

.wrapper{
  margin: auto;
  width: 1024px;
}

.body-dog{
  position: absolute;
  top: 0;
  left: 140px;
  z-index: -1;
}

.head-container{
  margin: auto;
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.nav-main{
  margin-left: auto;
}

.nav-item{
  display: inline-block;
  margin-left: 28px;
}

.promo-block{
  margin-top: 120px;
  margin-bottom: 260px;
  margin-left: 400px;
}

/*.promo-subtitle p:before{
  content: '';
  display: inline-block;
  width: 2px;
  height: 18px;
  margin-right: 5px;
  background-color: #510fad;
}*/

#about{
  position: relative;
  display: flex;
  width: 1024px;
  margin: auto;
  margin-bottom: 200px;
  background-color: #510fad;
}

#about:before{
  content: "";
  position: absolute;
  top: -79px;
  width: 1024px;
  height: 80px;
  display: inline-block;
  background-image: url(images/backround-wave.png);
}

#about:after{
  content: "";
  position: absolute;
  bottom: -75px;
  width: 1024px;
  height: 76px;
  display: inline-block;
  background-image: url(images/backround-wave-down.png);
}

.about-content{
  display: flex;
  align-items: center;
  margin-bottom: 100px;
}

.about-content-link{
  margin-top: 70px;
  padding-left: 26px;
}

.about-title-block{
  margin-left: 358px;
  margin-top: 80px;
  margin-bottom: 80px;
}


#breeds,
#reviews,
#info{
  display: flex;
  width: 1024px;
  margin: auto;
  margin-bottom: 100px;
}

.about-inner,
.breeds-inner,
.reviews-inner,
.info-inner{
  width: 940px;
  margin: 0 auto;
}

.breeds-title-block h2{
  text-align: center;
}

.breeds-content{
  display: flex;
  align-items: center;
  flex-flow: row wrap;
}

.breed{
  width: 50%;
}

.breed-block{
  display: flex;
  width: 100%;
  margin-right: 40px;
}

.breed-block p{
  margin-left: 15px;
}

.breed-link a{
  font-size: 14px;
  text-decoration: none;
  margin-left: 155px;
  text-transform: uppercase;
  font-weight: 500;
}

.reviews-block{
  display: flex;
  align-items: center;
}

.reviews-title h2{
text-align: center;
}

.review-quote{
  display: block;
  /*display: flex;
  align-items: center;
  flex-flow: row wrap;*/
}

.review-quote h3{
  margin-top: 0px;
  margin-bottom: 0px;
}

.review-quote p{
  margin-top: 0px;
}

.reviews-link-block {
  margin-left: 480px;
}

.review-photo{
  display: block;
}

#info{
  background: url(images/info-bg.jpeg.png);
}

.info-inner{
  display: flex;
  align-items: center;
}

.info-text{
  width: 50%;
}

.info-links-block{
  display: flex;
  width: 50%;
  margin: 100px auto;
}

.info-block{
  background-color: white;
  width: 220px;
  height: 290px;
  margin-right: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 6px 0 20px rgba(0,0,0,0.6);
}

.inflo-block:hover{
  box-shadow: 6px 0 40px rgba(0,0,0,0.2);
}

.info-block p,
.info-block a{
  margin-left: 20px;
  margin-right: 20px;
}

h1{
  font-family: 'Fira Sans', sans-serif;
  font-weight: 500;
  font-size: 48px;
}

h2{
  font-family: 'Fira Sans', sans-serif;
  font-weight: 500;
  font-size: 36px;
  letter-spacing: 0.05em;
  line-height: 40px;
}

h3{
  font-family: 'Fira Sans', sans-serif;
  font-weight: 500;
  font-size: 24px;
  letter-spacing: 0.05em;
  line-height: 40px;
}

p{
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 30px;
}

a{
  font-family: 'Fira Sans', sans-serif;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: #510fad;
}

a:hover{
  color: #737274;
}

#about a{
  color: #ffec00;
}

#about a:hover{
  color: #737274;
}

.subtitles{
  font-family: 'Fira Sans', sans-serif;
  font-size: 14px;
  letter-spacing: 0.05em;
  line-height: 30px;
  font-weight: 500;
  color: #737274;
}

.promo-subtitle{
  text-transform: lowercase;
  border-left: 2px solid #510fad;
  padding-left: 7px;
  font-weight: 500;
}

.under-title{
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  letter-spacing: 0.05em;
  line-height: 40px;
  color: #b8adc8;
}

.reviews-time,
.reviews-link{
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-style: italic;
  letter-spacing: 0.05em;
  line-height: 30px;
  color: #737274;
}

/*.underhdark{
  color: #b8adc8;
}*/



.contact-head{
  color: #737274;
  text-transform: uppercase;
}

.title-on-dark{
  color: #fff;
}

.textondark{
  color: #fff;
}

.nav-main a{
  text-decoration: none;
  color: #202020;
}

.nav-main a:hover{
  color: #510fad;
}

.nav-down a{
  text-decoration: none;
  color: #737274;
}

.nav-down a:hover{
  color: #510fad;
}

.phone{
  text-decoration: none;
  margin-left: 20px;
}

.foto-about{
  box-shadow: -20px 0 50px rgba(0,0,0,0.5);

}

.reviews-photo{
  margin-top: 30px;
  box-shadow: -6px 0 40px rgba(0,0,0,0.6);
}

.sprite {
    background-image: url(images/spritesheet.png);
    background-repeat: no-repeat;
    display: inline-block;
    margin: 5px;
}

.sprite-social-icon-facebook {
    width: 26px;
    height: 26px;
    background-position: -5px -5px;
}

.sprite-social-icon-facebook-foo:hover{
    width: 26px;
    height: 26px;
    background-position: -41px -5px;
}

.sprite-social-icon-facebook-foo {
    width: 26px;
    height: 26px;
    background-position: -77px -5px;
}

.sprite-social-icon-facebook:hover{
    width: 26px;
    height: 26px;
    background-position: -5px -41px;
}

.sprite-social-icon-instagram {
    width: 26px;
    height: 26px;
    background-position: -41px -41px;
}

.sprite-social-icon-instagram-foo:hover {
    width: 26px;
    height: 26px;
    background-position: -77px -41px;
}

.sprite-social-icon-instagram-foo {
    width: 26px;
    height: 26px;
    background-position: -5px -77px;
}

.sprite-social-icon-instagram:hover  {
    width: 26px;
    height: 26px;
    background-position: -41px -77px;
}

.sprite-social-icon-vk {
    width: 26px;
    height: 26px;
    background-position: -77px -77px;
}

.sprite-social-icon-vk-foo:hover {
    width: 26px;
    height: 26px;
    background-position: -113px -5px;
}

.sprite-social-icon-vk-foo {
    width: 26px;
    height: 26px;
    background-position: -113px -41px;
}

.sprite-social-icon-vk:hover  {
    width: 26px;
    height: 26px;
    background-position: -113px -77px;
}
